<p id="notice"><%= notice %></p>

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :title_cont, "Title contains" %>
    <%= f.text_field :title_cont %>
  </div>
  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Movieid</th>
      <th>Title</th>
      <th>Theyear</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.movieid %></td>
        <td><%= movie.title %>
          <br>
          <% Movierating.where(themovieid: movie.movieid).find_each do |movierates| %>
            <span style="padding-left:20px; font-size:10px;">Name: <%= movierates.name %> Score: <%= movierates.rating %></span>
            <br>
          <% end %>
        </td>
        <td><%= movie.theyear %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "New Movie Rating", new_movierating_path(:themovie => movie.movieid) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>

<%= will_paginate @posts %>