<p id="notice"><%= notice %></p>

<h1>Songs</h1>

<table>
  <thead>
    <tr>
      <th>Songid</th>
      <th>Title</th>
      <th>Theyear</th>
      <th>Artist</th>
      <th>Album</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.songid %></td>
        <td><%= song.title %>
        </td>
        <td><%= song.theyear %></td>
        <td><%= song.artist %></td>
        <td><%= song.album %></td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "New Song Rating", new_songrating_path(:thesong => song.songid) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>

<%= will_paginate @posts %>