<%= form_with(model: songrating, local: true) do |form| %>
  <% if songrating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(songrating.errors.count, "error") %> prohibited this songrating from being saved:</h2>

      <ul>
      <% songrating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :songratingid %>
    <%= form.number_field :songratingid, id: :songrating_songratingid %>
  </div>

  <div class="field">
    <%= form.label :thesongid %>
    <%= form.number_field :thesongid, id: :songrating_thesongid %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :songrating_rating %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :songrating_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
