<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Bookid</th>
      <th>Title</th>
      <th>Theyear</th>
      <th>Author</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.bookid %></td>
        <td><%= book.title %>
          <br>
          <% Bookrating.where(thebookid: book.bookid).find_each do |bookrates| %>
            <span style="padding-left:20px; font-size:10px;">Name: <%= bookrates.name %> Score: <%= bookrates.rating %></span>
            <br>
          <% end %>
        </td>
        <td><%= book.theyear %></td>
        <td><%= book.author %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "New Book Rating", new_bookrating_path(:thebook => book.bookid) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>

<%= will_paginate @posts %>
