<!DOCTYPE html>
<html>
  <head>
    <title>MyMediaLibrary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "Movies", movies_path %>
    <%= link_to "Books", books_path %>
    <%= link_to "Songs", songs_path %>
    <%= link_to "Movie Ratings", movieratings_path %>
    <%= link_to "Book Ratings", bookratings_path %>
    <%= link_to "Song Ratings", songratings_path %>

    <%= link_to "About", "/about.html" %>

    <%= yield %>
  </body>
</html>
